@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Vazirmatn;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Vazirmatn:wght@100;300;400;500;600;700;800;900&display=swap')format("truetype");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  :root{
    --primary-dark:#ff5722;
    --primary-light:#d9a629;
  
  }
  @layer utilities {
    .rtl {
      direction: rtl;
      
    }
    .ltr {
      direction: ltr;
      
    }
    .icon{
color:#FF0060;
/* position: absolute; */


    }
    .hr{
      color:seagreen;
      border:0.5px solid skyblue
      
    }
    .trapezium {
      height: 0;
      width: 150px;
      /* border-bottom: 150px solid green; */
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
   }
   
  }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
